<header class="header">
    <a href="#inicio" title="Delina Trentin" class="a">
      <img src="assets/logo.jpg" alt="logo" class="img" width="60em" height="60em">
    </a>
    <h1 class="h1">
    #YoProgramo
  </h1>
<nav class="nav">
  <ul class="ul">
      <li class="li" id="margen1"><a href="#inicio" title="Inicio" class="a">Inicio</a></li>
      <li class="li" id="margen2"><a href="#works" title="Works" class="a">Trabajos</a></li>
      <li class="li" id="margen3"><a href="#about" title="About" class="a">Sobre mi</a></li>

  </ul>
</nav>
</header>

